.loginInput {
    margin-left: 50px;
    width: 350px;
    height: 50px;
    border-color: mediumslateblue;
    border-width: 3px;
    font-size: 35px;
    color: darkslateblue;
    background-color: snow;
    position: absolute;
    top: 70px;
}

.successfulLoginMessage  {
    position: absolute;
    top:150px;
    margin-left: 50px;
    color: greenyellow
}

.unsuccessfulLoginMessage  {
    position: absolute;
    top:150px;
    margin-left: 50px;
    color:darkred;
}