.subjectCodeName {
    font-size: 35px;
    color: snow;
    margin-bottom: 2px;
}

.subjectCredits {
    font-size: 20px;
    color: snow;
    margin-top: 2px;
}

.subjectData {
    margin-bottom: 20px;
    margin-top: 7.5px;
}